# GitHub and GitLab tokens
github.token=<your-github-token>
gitlab.token=<your-gitlab-token>

# Organization to track
organization.name=your-github-org
organization.display-name=Your Organization Name